.task-list-container {
    padding: 20px;
    margin-top: 60px; /* Adjust based on navbar height */
}

.task-list {}

.task-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.task-item.completed {
    background-color: #e0ffe0;
}

.task-item h3, .task-item p {
    margin: 5px 0;
}

.task-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.icon-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 3px;
    margin: 10px 0;
}

.progress-bar-fill {
    background-color: #4caf50;
    height: 20px;
    border-radius: 18px;
    transition: width 0.3s ease-in-out;
}

.subtask {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subtask .icon-btn {
    padding: 0;
}

#delete{
    color: red;
}